[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="connect"
    database_user=""
    database_password=""
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="c6a748c82cf51bd7a93a3530a47af7fa"
